@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 30px;
  margin-left: 12px;
  font-weight: bolder;
}

.logo img {
  width: 50px;
  height: 50px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5% 3.7%;
}

a {
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: center;
}

.active {
  text-decoration: underline;
}

.rocket {
  background-size: cover;
  height: 200px;
}

nav {
  display: flex;
  gap: 30px;
  font-size: 18px;
}

.name {
  font-weight: 500;
}

.table-section {
  padding: 0 16px;
}

.mission-name {
  font-weight: bold;
}

.badge-cell, .button-cell {
  text-align: center;
  display: table-cell;
  vertical-align:middle;
}

